PORT=4000
MONGODB_ATLAS_URI=
FRONTEND_URL=http://localhost:9000
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_LIFETIME=1d
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_LIFETIME=10d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_KEY_PORTFOLIO=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_SECRET_PORTFOLIO=
GITHUB_REPOS_URL=
GITHUB_ACCESS_TOKEN=
APP_NAME=bugg
MY_FIRST_NAME=Manish
MY_LAST_NAME=Kumar
NODE_MAILER_EMAIL=echobuggm@gmail.com
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
GITHUB_URL=https://github.com/bugg-m
LINKEDIN_URL=https://www.linkedin.com/in/manish-kumar-2b4924200/
WHATSAPP=https://wa.me/9058314973
PASSKEY_RP_ID=localhost
PASSKEY_ORIGIN=http://localhost:9000
PASSKEY_RP_NAME=